<h1>User info</h1>
<% if @user.profile_image.attached? %>
  <%= image_tag @user.get_profile_image(100,100) %>
<% else %>
  <%= image_tag 'no_image',resize_to_limit: [100,100] %>
<% end %>

<table>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
  </tr>
</table>

<p><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></p>

<%= render 'shered/NewBox', book: @book %>

<h1>Books</h1>
  
  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <tr>
      <% @books.each do |book| %>
      <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td>
        <%= link_to book_path(book.id) do %>
        <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
    </tr>
    
    <% end %>
  </table>
