<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class= "container">
  <div class="row">
    <div class="col-sm-10 col-md-3 col-lg-3">
      <h2 class="mt-4">User info</h2>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.get_profile_image(100,100) %>
        <% else %>
          <%= image_tag 'no_image',resize_to_limit: [100,100] %>
        <% end %>

      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
      </table>
      <div class= "my-4">
        <%= link_to edit_user_path(current_user.id) do %>
        <button type="button" class="btn btn-outline-secondary btn-block">
          <i class="fas fa-user-cog"></i>
        </button>
        <% end %>
      </div>
      
      <%= render 'shered/NewBox', book: @book %>
    </div>
    
    <div class="col-sm-10 col-md-8 col-lg-8 mt-4 mx-auto">
      <h2>Book detail</h2>
        <table class="table">
          <td style="display:block;">
            <%= link_to user_path(@user.id) do %>
              <% if @book.user.profile_image.attached? %>
                <%= image_tag @book.user.get_profile_image(100,100) %>
              <% else %>
                <%= image_tag 'no_image',resize_to_limit: [100,100] %>
              <% end %>
              <%= @user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book.id) do %>
              <%= @book.title %>
            <% end %>
          </td>
          <td><%= @book.body %></td>
        
            <% if @book.user == current_user %>
            <td>
              <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success btn-x' %>
            </td>
            <td>
              <%= link_to "Destroy", book_path, method: :delete, data: {confirm: "本当に消しますか？"}, class: 'btn btn-danger btn-x' %>
            <% end %>
          </td>
        </table>
      </div>
  </div>
</div>
